@media (max-width:991px) {
    .left-form {
        padding: 20px;
        .form-sec {
            .block {
                ul {
                    li {
                        margin-right: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}